*
{
    box-sizing: border-box;
    outline: none;
}

/*@font-face {
    font-family: "bodega";
    src: url(../fonts/BodegaSans_Black.ttf);
}*/
body
{
    font-size: 1.6rem;
    line-height: 2;
    background-color: black;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 10px;
}

h1{
    font-size: 2rem;
}

h2{
    color:pink;
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
    color:pink;
}
a{
    text-decoration: none;
}
p{
    font-size: 1rem;
}
ul{
    padding: 0px;
}
li{ 
    list-style: none;
}
/******************************** SIDE MENU *******************************************/
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: rgba(0, 0, 0, 0.7);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: rgb(255, 194, 204);
  background: rgba(255, 194, 204, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(43, 139, 235, 0.9);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: pink;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: pink;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}
/**************************** MENU BURGER ******************************/
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
  border-radius: 10px;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: #343a40;
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }
/*************************** HEADER ***********************/
.laPieuvreLogo img{
    width: 40%;
}

.PieuvreGif{
    margin-top: 30px;
    margin-bottom:10px;
    width: 100%;

}
/************************************ SECTION *******************************/
.band{
    position: relative;
    z-index:1;
}
.nameBand{
    position:absolute;
    top:-20px;
    left:10px;
    z-index:2;
}
#artistes img{
    vertical-align: 0px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#exclu{

    border: 4px solid pink;
    text-align: center;
    padding: 10px;
}

#exclu a{

    border: 2px solid white;
    text-align: center;
    color: white;
    padding: 5px 30px 5px 30px;

}

/********************************** FOOTER? CONTACT? *******************************/

footer {
    margin-bottom:50px;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 2rem;
    background-color: pink;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  footer.footer .social-link:hover {
    background-color:black;
    text-decoration: none;
  }
